* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #45a46b;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    margin: 0px;
    position: fixed;
    background: #3b8d5c;
    z-index: 1000;
}


nav ul {
    float: right;
    margin-right: 20px;
    margin-left: 100px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
    position: relative;
    transition: all .4s;
}

.aa:hover,
.aa:focus {
    color: #fff;

}

.aa::after {
    content: '';
    height: 3px;
    width: 0;
    background: #c7a925;
    position: absolute;
    left: 0px;
    bottom: -6px;
    opacity: 0;
    transition: width .3s;
    pointer-events: none;
}

.aa:hover::after,
.aa:focus::after {
    opacity: 1;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 20px;
    line-height: 60px;
    padding: 0 20px;
    font-weight: bolder;
    text-transform: uppercase;

}

.Contacts{
    height: 100vh;
    translate: 5% 10%;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.contactsection{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 500px;
    background: #435f4e5e;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(40px);
    border-radius: 10px;
    margin-left: 10px;
    padding: 30px 40px;

}

.threeD{
    width: 45vw;
    height: 90vh;
    translate: 0 -3%;
    margin-right: 2px;
}

.contacttitles{
    font-weight: 600;
    color: #c7a925;
    font-size: 40px;
    margin-top: 5px;
    text-align: center;
}

.contacttitles hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #c7a925;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contactspace{
    background: white;
    padding-left: 25px;
    border: none;
    outline: none;
}

.contactspace:focus{
    border: 2px solid #c7a925;
}

input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 40px;
    padding: 15px 35px 15px 15px;
}
textarea{
    width: 100%;
    height: 150px;
    background: transparent;
    outline: none;
    border: none;
    padding: 10px 35px 20px 20px;
}

::placeholder{
    color: #c7a925;
}


.contactsection button{
    width: 100%;
    height: 35px;
    background: #4979b4;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-bottom: 5px;
}
