*{
padding: 0;
margin: 0;
text-decoration: none;
box-sizing: border-box;
list-style: none;
}


body{
background-color: #45a46b;
color: white;
font-family: 'Times New Roman', Times, serif;
height: 100%;
}


@media only screen and (min-width: 1031px){
.reslink {
    display: none;   
}

nav{
width: 100%;
height: 10vh;
display: flex;
position: fixed;
background: #3b8d5c;
z-index: 1000;
translate: 0 -14vh;
}
nav ul{
margin-left: 15vw;
}
nav ul li{
display: inline-block;
line-height: 10vh;
margin: 0 5px;
vertical-align: middle;
}
nav ul li a{
color: white;
font-size: 1.5vw;
padding: 7px 13px;
border-radius: 3px;
text-transform: capitalize;
position: relative;
transition: all .4s;
}
.aa:hover, .aa:focus{
color: #fff;

}
.aa::after{
content: '';
height: 3px;
width: 0;
background: wheat;
position: absolute;
left: 0px;
bottom: -6px;
opacity: 0;
transition: width .3s;
pointer-events: none;
}
.aa:hover::after, .aa:focus::after{
opacity: 1;
width: 100%;
}
label.logo {
color: white;
font-size: 2.5vw;
line-height: 10vh;
padding: 0 20px;
font-weight: bolder;
text-transform: uppercase;
width: 35vw;
vertical-align: middle;
}
.icons{
width: 1.5vw;
height: 3vh;
vertical-align: middle;
}

.menu{
display: none;
}
section{
position: relative;
width: 100%;
height: 100vh;
}
section h2{
text-align: center;
font-size: 10vw;
font-weight: 300;
line-height: 100%;
}
.firstpage {
display: flex;
width: 100%;
margin-top: 14vh;
height: 80vh;
align-items: center;
}

.first{
width: 50vw;
margin-left: 1vw;
display: flex;
justify-content: center;
}

.firstt{
display: flex;
height: 20vh;
width: 30vw;
margin-left: 3vw;
align-items: center;
}

.first span {
position: relative;
}
.first span::before {
content: "Welcome";
color: #ffffff;
animation: words 20s infinite;
}
.first span::after {
content: "";
position: absolute;
width: calc(100% + 8px);
height: 100%;
background-color: #45a46b;
border-left: 2px solid #ffffff;
right: -8px;
animation: cursor .8s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
to {
border-left: 2px solid #ff7f5000;
}
}
@keyframes words {
0%,20% {
content: "Welcome";
}
21%,40% {
content: "Akwaaba";
}
41%,60% {
content: "Bienvenido";
}
61%,80% {
content: "ようこそ";
}
81%,100% {
content: "أهلا";
}
}
@keyframes typing {
10%,15%,30%,35%,50%,55%,70%,75%,90%,95% {
width: 0;
}
5%,20%,25%,40%,45%,60%,65%,80%,85% {
width: calc(100% + 8px);
}
section{
animation: autoShowAnimation both;
animation-timeline: view(70% 5%);
}
}
@keyframes autoShowAnimation {
from {
opacity: 0;
transform: translate(200px) scale(.3);
}
to {
opacity: 1;
transform: translate(0) scale(1);
}
}

.secondpage{
display: flex;
flex-direction: column;
align-items: start;
gap: 5vh;
}

.second{
margin-left: 30vw;
}

.secrec{
display: flex;
}

.pic1{
height: 35vh;
width: 15vw;
margin-top: -2.5vh;
margin-left: 8vw;
border: 2px solid rgb(180, 180, 180);
}

.gh{
height: 35vh;
width: 15vw;
border: 1px solid #64d190;
translate:2vw -2vh ;
margin-left: 5vw;
}

.attached{
display: flex;
flex-direction: column;
align-items: start;
gap: 1.5vh;
height: 31vh;
width: 25vw;
translate: 4vw 0;
}
.psec {
margin-left: 1vw;
}

.attached1{
display: flex;
flex-direction: column;
align-items: start;
gap: 1.5vh;
height: 31vh;
width: 20vw;
margin-left: 2vw;
}

.pthird{
margin-left: 1vw;
}


.secondpage button{
display: flex;
align-items: center;
justify-content: center;
margin-left: 50%;
/*overflow: hidden;*/
transform: scale(1.5); 
border-radius: 15px;
margin-top: 10vh;
margin-left: 45vw;
}
.resbut {
padding: 15px 40px;
border: 1.5px solid rgb(176, 176, 176);
outline: none;
color: #FFF;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 12px;
translate: 0 -5vh;
}
.resbut::after {
content: "";
z-index: -1;
position: absolute;
width: 100%;
height: 100%;
background-color: rgb(97, 192, 148);
left: 0;
top: 0;
border-radius: 12px;
}
/* glow */
.resbut::before {
content: "";
background: linear-gradient(45deg,
#FF0000, #FF7300, #FFFB00, #48FF00,
#00FFD5, #002BFF, #FF00C8, #FF0000);
position: absolute;
top: -2px;
left: -2px;
background-size: 600%;
z-index: -1;
width: calc(100% + 4px);
height: calc(100% + 4px);
filter: blur(8px);
animation: glowing 20s linear infinite;
transition: opacity .3s ease-in-out;
border-radius: 10px;
opacity: 0;
}
@keyframes glowing {
0% {
background-position: 0 0;
}
50% {
background-position: 400% 0;
}
100% {
background-position: 0 0;
}
}
/* hover */
.resbut:hover::before {
opacity: 1;
}
.resbut:active:after {
background: transparent;
}
.resbut:active {
color: #000;
font-weight: bold;
}
.popup-overlay {
display: none;
position: fixed;
top: 0;
left: 0;
background-color: #00000057;
width: 100%;
height: 100%;
z-index: 1000;
justify-content: center;
align-items: center;
}
.popup-window {
background-color: white;
border-radius: 8px;
box-shadow: 0 4px 8px rgb(0, 0, 0);
width: 80%;
height: 100%;
padding: 20px;
animation: fadeIn 0.3s;
}
.popup-content {
height: 100%;
color: #555;
}
/* From Uiverse.io by arthur_6104 */
.secondary-btn {
padding: 15px 40px;
outline: none;
color: #FFF;
cursor: pointer;
border-radius: 12px;
}
.secondary-btn {
background-color: #45a46b;
border: 2px solid black;
padding: 3px 8px;
translate: -7vw 90vh;
position: absolute;
}
@keyframes fadeIn {
from {
opacity: 0;
transform: translateY(-20px);
}
to {
opacity: 1;
transform: translateY(0);
}
}

.reslink{
    display: none !important;
}
}


@media only screen and (max-width: 1030px) {
.reslink {
    display: none;   
}
nav{
display: flex;
justify-content: center;
align-items: center;
}

nav ul li {
display: flex;
line-height: 5.5vh;
margin: 0 5px;
translate: 2vw -2vh;
}

nav ul li a {
color: white;
font-size: 2vw;
padding: 7px 13px;
border-radius: 3px;
text-transform: capitalize;
position: relative;
transition: all .4s;
}

.aa:hover,
.aa:focus {
color: #fff;
}

.aa::after {
content: '';
height: 3px;
width: 0;
background: wheat;
position: absolute;
left: 0px;
bottom: -6px;
opacity: 0;
transition: width .3s;
pointer-events: none;
}

.aa:hover::after,
.aa:focus::after {
opacity: 1;
width: 100%;
}

label.logo {
color: white;
background: #29894f;
font-size: 6vw;
line-height: 10vh;
padding: 0 20px;
font-weight: bolder;
text-transform: uppercase;
width: 80vw;
vertical-align: middle;
display: flex;
justify-content: middle;
padding: 5px 10px;
border-radius: 12px;
}

.icons {
width: 1.5vw;
height: 3vh;
vertical-align: middle;
}

.menu {
display: flex;
margin-left: 5vw;
padding: 5px 10px;
border: 1.5px solid rgb(176, 176, 176);
background: rgb(244, 150, 244);
color: black;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 12px;
height: 5vh;
align-items: center;
justify-content: center;
}

.resbut::after {
content: "";
z-index: -1;
position: absolute;
width: 100%;
height: 100%;
background-color: rgb(97, 192, 148);
left: 0;
top: 0;
border-radius: 12px;
}

/* glow */
.menu::before {
content: "";
background: linear-gradient(45deg,white,rgb(125, 125, 234), rgb(224, 115, 115));
position: absolute;
top: -2px;
left: -2px;
background-size: 600%;
z-index: -1;
width: calc(100% + 4px);
height: calc(100% + 4px);
filter: blur(8px);
animation: glowing 20s linear infinite;
transition: opacity .3s ease-in-out;
border-radius: 10px;
opacity: 0;
}

@keyframes glowing {
0% {
background-position: 0 0;
}

50% {
background-position: 400% 0;
}

100% {
background-position: 0 0;
}
}

/* hover */
.menu:hover::before {
opacity: 1;
}

.menu:active:after {
background: transparent;
}

.menu:active {
color: #000;
font-weight: bold;
}

.popupwin {
display: none;
position: fixed;
top: 0;
left: 0;
background-color: transparent;
width: 100%;
height: 100%;
z-index: 1000;
justify-content: center;
align-items: center;
}

.popup-over {
background-color: rgb(128, 128, 128);
border-radius: 8px;
box-shadow: 0 4px 8px rgb(0, 0, 0);
width: 25vw;
height: 40vh;
padding: 20px;
animation: fadeIn 0.3s;
display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
margin-top: -20vh;
}

section {
position: relative;
width: 100%;
height: 100vh;
}

section h2 {
text-align: center;
font-size: 10vw;
font-weight: 300;
line-height: 100%;
}

.firstpage {
display: flex;
width: 100%;
margin-top: -5vh;
height: 85vh;
align-items: center;
}

.first {
width: 50vw;
margin-left: 1vw;
display: flex;
justify-content: center;
}

.firstt {
display: flex;
height: 20vh;
width: 40vw;
margin-left: 3vw;
align-items: center;
}

.first span {
position: relative;
}

.first span::before {
content: "Welcome";
color: #ffffff;
animation: words 20s infinite;
}

.first span::after {
content: "";
position: absolute;
width: calc(100% + 8px);
height: 100%;
background-color: #45a46b;
border-left: 2px solid #ffffff;
right: -8px;
animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
to {
border-left: 2px solid #ff7f5000;
}
}

@keyframes words {

0%,
20% {
content: "Welcome";
}

21%,
40% {
content: "Akwaaba";
}

41%,
60% {
content: "Bienvenido";
}

61%,
80% {
content: "ようこそ";
}

81%,
100% {
content: "أهلا";
}
}

@keyframes typing {

10%,
15%,
30%,
35%,
50%,
55%,
70%,
75%,
90%,
95% {
width: 0;
}

5%,
20%,
25%,
40%,
45%,
60%,
65%,
80%,
85% {
width: calc(100% + 8px);
}

section {
animation: autoShowAnimation both;
animation-timeline: view(70% 5%);
}
}

@keyframes autoShowAnimation {
from {
opacity: 0;
transform: translate(200px) scale(.3);
}

to {
opacity: 1;
transform: translate(0) scale(1);
}
}

.secondpage {
display: flex;
flex-direction: column;
align-items: start;
gap: 5vh;
height: 100vh;
}

.second {
margin-left: 30vw;
}

.secrec {
display: flex;
}

.pic1 {
height: 29vh;
width: 17vw;
margin-left: 2vw;
border: 2px solid rgb(180, 180, 180);
}

.gh {
height: 27vh;
width: 15vw;
border: 1px solid #64d190;
margin-left: 2vw;
margin-top: 3vh;
}

.attached {
display: flex;
flex-direction: column;
align-items: start;
gap: 1.5vh;
height: 40vh;
width: 30vw;
margin-left: 2vw;
}

.psec {
margin-left: 1vw;
}

.attached1 {
display: flex;
flex-direction: column;
align-items: start;
gap: 1.5vh;
height: 40vh;
width: 27vw;
margin-left: 2vw;
}

.pthird {
margin-left: 1vw;
}

.secondpage button {
display: flex;
align-items: center;
justify-content: center;
margin-left: 50%;
/*overflow: hidden;*/
transform: scale(1.5);
border-radius: 15px;
margin-top: 7vh;
}

.resbut {
padding: 15px 40px;
border: 1.5px solid rgb(176, 176, 176);
outline: none;
color: #FFF;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 12px;
}

.resbut::after {
content: "";
z-index: -1;
position: absolute;
width: 100%;
height: 100%;
background-color: rgb(97, 192, 148);
left: 0;
top: 0;
border-radius: 12px;
}

/* glow */
.resbut::before {
content: "";
background: linear-gradient(45deg,
#FF0000, #FF7300, #FFFB00, #48FF00,
#00FFD5, #002BFF, #FF00C8, #FF0000);
position: absolute;
top: -2px;
left: -2px;
background-size: 600%;
z-index: -1;
width: calc(100% + 4px);
height: calc(100% + 4px);
filter: blur(8px);
animation: glowing 20s linear infinite;
transition: opacity .3s ease-in-out;
border-radius: 10px;
opacity: 0;
}

@keyframes glowing {
0% {
background-position: 0 0;
}

50% {
background-position: 400% 0;
}

100% {
background-position: 0 0;
}
}

/* hover */
.resbut:hover::before {
opacity: 1;
}

.resbut:active:after {
background: transparent;
}

.resbut:active {
color: #000;
font-weight: bold;
}

.popup-overlay {
display: none;
position: fixed;
top: 0;
left: 0;
background-color: #00000057;
width: 100%;
height: 100%;
z-index: 1000;
justify-content: center;
align-items: center;
}

.popup-window {
background-color: white;
border-radius: 8px;
box-shadow: 0 4px 8px rgb(0, 0, 0);
width: 80%;
height: 100%;
padding: 20px;
animation: fadeIn 0.3s;
}

.popup-content {
height: 100%;
color: #555;
}

/* From Uiverse.io by arthur_6104 */
.secondary-btn {
padding: 15px 40px;
border: none;
outline: none;
color: #FFF;
cursor: pointer;
border-radius: 12px;
}

.secondary-btn {
background-color: #45a46b;
border: 2px solid black;
padding: 3px 8px;
translate: 68vw 3vh;
}

@keyframes fadeIn {
from {
opacity: 0;
transform: translateY(-20px);
}

to {
opacity: 1;
transform: translateY(0);
}
}   }




@media only screen and (max-width: 710px){
.reslink {
    display: none;   
}

nav {
display: flex;
justify-content: center;
align-items: center;
}

nav ul li {
display: flex;
line-height: 5.5vh;
translate: -2vw -2vh;
}

nav ul li a {
color: white;
font-size: 2.5vw;
padding: 7px 13px;
border-radius: 3px;
text-transform: capitalize;
position: relative;
transition: all .4s;
}

.aa:hover,
.aa:focus {
color: #fff;

}

.aa::after {
content: '';
height: 3px;
width: 0;
background: wheat;
position: absolute;
left: 0px;
bottom: -6px;
opacity: 0;
transition: width .3s;
pointer-events: none;
}

.aa:hover::after,
.aa:focus::after {
opacity: 1;
width: 100%;
}

label.logo {
color: white;
background: #29894f;
font-size: 6vw;
line-height: 10vh;
padding: 0 20px;
font-weight: bolder;
text-transform: uppercase;
width: 80vw;
vertical-align: middle;
display: flex;
justify-content: middle;
padding: 5px 10px;
border-radius: 12px;
}

.icons {
width: 3vw;
height: 3vh;
vertical-align: middle;
}

.menu {
display: flex;
margin-left: 5vw;
padding: 5px 10px;
border: 1.5px solid rgb(176, 176, 176);
background: rgb(244, 150, 244);
color: black;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 12px;
height: 5vh;
align-items: center;
justify-content: center;
translate: -1vw 0;
}

.resbut::after {
content: "";
z-index: -1;
position: absolute;
width: 100%;
height: 100%;
background-color: rgb(97, 192, 148);
left: 0;
top: 0;
border-radius: 12px;
}

/* glow */
.menu::before {
content: "";
background: linear-gradient(45deg, white, rgb(125, 125, 234), rgb(224, 115, 115));
position: absolute;
top: -2px;
left: -2px;
background-size: 600%;
z-index: -1;
width: calc(100% + 4px);
height: calc(100% + 4px);
filter: blur(8px);
animation: glowing 20s linear infinite;
transition: opacity .3s ease-in-out;
border-radius: 10px;
opacity: 0;
}

@keyframes glowing {
0% {
background-position: 0 0;
}

50% {
background-position: 400% 0;
}

100% {
background-position: 0 0;
}
}

/* hover */
.menu:hover::before {
opacity: 1;
}

.menu:active:after {
background: transparent;
}

.menu:active {
color: #000;
font-weight: bold;
}

.popupwin {
display: none;
position: fixed;
top: 0;
left: 0;
background-color: transparent;
width: 100%;
height: 100%;
z-index: 1000;
justify-content: center;
align-items: center;
}

.popup-over {
background-color: rgb(128, 128, 128);
border-radius: 8px;
box-shadow: 0 4px 8px rgb(0, 0, 0);
width: 40vw;
height: 40vh;
padding: 20px;
animation: fadeIn 0.3s;
display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
translate: -26vw -6vh;
}

section {
position: relative;
width: 100%;
height: 100vh;
}

section h2 {
text-align: center;
font-size: 10vw;
font-weight: 300;
line-height: 100%;
}

.firstpage {
display: flex;
width: 100%;
margin-top: 5vh;
height: 85vh;
align-items: center;
}

.first {
width: 50vw;
margin-left: 1vw;
display: flex;
justify-content: center;
}

.firstt {
display: flex;
height: 20vh;
width: 40vw;
margin-left: 3vw;
align-items: center;
}

.first span {
position: relative;
}

.first span::before {
content: "Welcome";
color: #ffffff;
animation: words 20s infinite;
}

.first span::after {
content: "";
position: absolute;
width: calc(100% + 8px);
height: 100%;
background-color: #45a46b;
border-left: 2px solid #ffffff;
right: -8px;
animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
to {
border-left: 2px solid #ff7f5000;
}
}

@keyframes words {

0%,
20% {
content: "Welcome";
}

21%,
40% {
content: "Akwaaba";
}

41%,
60% {
content: "Bienvenido";
}

61%,
80% {
content: "ようこそ";
}

81%,
100% {
content: "أهلا";
}
}

@keyframes typing {

10%,
15%,
30%,
35%,
50%,
55%,
70%,
75%,
90%,
95% {
width: 0;
}

5%,
20%,
25%,
40%,
45%,
60%,
65%,
80%,
85% {
width: calc(100% + 8px);
}

section {
animation: autoShowAnimation both;
animation-timeline: view(70% 5%);
}
}

@keyframes autoShowAnimation {
from {
opacity: 0;
transform: translate(200px) scale(.3);
}

to {
opacity: 1;
transform: translate(0) scale(1);
}
}

.secondpage {
width: 100%;
display: flex;
flex-direction: column;
align-items: start;
gap: 5vh;
height: 100vh;
}

.second {
margin-left: 30vw;
}

.secrec {
display: flex;
flex-direction: column;
align-items: start;
}

.pic1 {
height: 29vh;
width: 20vw;
translate: 3vw -20vh;
border: 2px solid rgb(180, 180, 180);
}

.gh {
height: 27vh;
width: 20vw;
border: 1px solid #64d190;
margin-left: 2vw;
translate: 5vw -7vh;
}

.attached {
display: flex;
flex-direction: column;
align-items: start;
gap: 1.5vh;
height: 30vh;
width: 55vw;
margin-left: 2vw;
translate: 30vw -35vh;
}

.psec {
margin-left: 1vw;
}

.attached1 {
display: flex;
flex-direction: column;
align-items: start;
gap: 1.5vh;
height: 30vh;
width: 55vw;
margin-left: 2vw;
translate: 30vw -47vh;
}

.pthird {
margin-left: 1vw;
}

.secondpage button {
display: flex;
align-items: center;
justify-content: center;
margin-left: 50%;
/*overflow: hidden;*/
transform: scale(1.5);
border-radius: 15px;
margin-top: 7vh;
translate: 0 -59vh;
}

.resbut {
padding: 15px 40px;
border: 1.5px solid rgb(176, 176, 176);
outline: none;
color: #FFF;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 12px;
}

.resbut::after {
content: "";
z-index: -1;
position: absolute;
width: 100%;
height: 100%;
background-color: rgb(97, 192, 148);
left: 0;
top: 0;
border-radius: 12px;
}

/* glow */
.resbut::before {
content: "";
background: linear-gradient(45deg,
#FF0000, #FF7300, #FFFB00, #48FF00,
#00FFD5, #002BFF, #FF00C8, #FF0000);
position: absolute;
top: -2px;
left: -2px;
background-size: 600%;
z-index: -1;
width: calc(100% + 4px);
height: calc(100% + 4px);
filter: blur(8px);
animation: glowing 20s linear infinite;
transition: opacity .3s ease-in-out;
border-radius: 10px;
opacity: 0;
}

@keyframes glowing {
0% {
background-position: 0 0;
}

50% {
background-position: 400% 0;
}

100% {
background-position: 0 0;
}
}

/* hover */
.resbut:hover::before {
opacity: 1;
}

.resbut:active:after {
background: transparent;
}

.resbut:active {
color: #000;
font-weight: bold;
}

.popup-overlay {
display: none;
position: fixed;

background-color: #00000057;
width: 100%;
height: 100%;
z-index: 1000;
justify-content: center;
align-items: center;
}

.popup-window {
background-color: white;
border-radius: 8px;
box-shadow: 0 4px 8px rgb(0, 0, 0);
width: 80%;
height: 100%;
padding: 20px;
animation: fadeIn 0.3s;
}

.popup-content {
height: 100%;
color: #555;
}

/* From Uiverse.io by arthur_6104 */
.secondary-btn {
padding: 15px 40px;
border: none;
outline: none;
color: #FFF;
cursor: pointer;
border-radius: 12px;
}

.secondary-btn {
background-color: #45a46b;
border: 2px solid black;
padding: 3px 8px;
translate: -10vw 87vh;
position: absolute;
}

@keyframes fadeIn {
from {
opacity: 0;
transform: translateY(-20px);
}

to {
opacity: 1;
transform: translateY(0);
}  } 
}



@media only screen and (max-width: 434px) {

.reslink {
    display: flex;   
}

nav {
    display: flex;
}

nav ul li {
    display: flex;
    line-height: 5.5vh;
}

nav ul li a {
    color: white;
    font-size: 4vw;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
    position: relative;
    transition: all .4s;
}

.aa:hover,.aa:focus {
    color: #fff;
}

.aa::after {
    content: '';
    height: 3px;
    width: 0;
    background: wheat;
    position: absolute;
    left: 0px;
    bottom: -6px;
    opacity: 0;
    transition: width .3s;
    pointer-events: none;
}

.aa:hover::after, .aa:focus::after {
    opacity: 1;
    width: 100%;
}

label.logo {
    color: white;
    background: #29894f;
    font-size: 6.5vw;
    line-height: 10vh;
    padding: 0 20px;
    font-weight: bolder;
    text-transform: uppercase;
    width: 76vw;
    vertical-align: middle;
    display: flex;
    justify-content: middle;
    padding: 5px 10px;
    border-radius: 12px;
    translate: -2vw 0;
}

.icons {
    width: 4vw;
    height: 2vh;
    vertical-align: middle;
}

.menu {
    display: flex;
    translate: -5vw 0;
    padding: 5px 10px;
    border: 1.5px solid rgb(176, 176, 176);
    background: rgb(244, 150, 244);
    color: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

/* glow */
.menu::before {
    content: "";
    background: linear-gradient(45deg, white, rgb(125, 125, 234), rgb(224, 115, 115));
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {
    background-position: 0 0;
    }

    50% {
    background-position: 400% 0;
    }

    100% {
    background-position: 0 0;
    }
}

    /* hover */
.menu:hover::before {
    opacity: 1;
}

.menu:active:after {
    background: transparent;
}

.menu:active {
    color: #000;
    font-weight: bold;
}

.popupwin {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-over {
    background-color: rgb(128, 128, 128);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    width: 50vw;
    height: 30vh;
    padding: 20px;
    animation: fadeIn 0.3s;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    translate: -15vw -10vh;
}

.fir {
    width: 100%;
    height: 100vh;
}

.sec{
    width: 100%;
    height: 90vh;
}

section h2 {
    text-align: center;
    font-size: 10vw;
    font-weight: 300;
    line-height: 100%;
}

.firstpage {
    display: flex;
    width: 100%;
    margin-top: 2vh;
    height: 85vh;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}

.first {
    width: 93vw;
    display: flex;
    justify-content: center;
    height: 10vh;
    font-size: 8.5vh;
    translate: -1vw ;
}

.firstt {
    display: flex;
    height: 20vh;
    width: 90vw;
    font-size: 5vw;
    translate: -1vw 0;
}

.first span {
    position: relative;
}

.first span::before {
    content: "Welcome";
    color: #ffffff;
    animation: words 20s infinite;
}

.first span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #45a46b;
    border-left: 2px solid #ffffff;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
    border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {

    0%,
    20% {
    content: "Welcome";
    }

    21%,
    40% {
    content: "Akwaaba";
    }

    41%,
    60% {
    content: "Bienvenido";
    }

    61%,
    80% {
    content: "ようこそ";
    }

    81%,
    100% {
    content: "أهلا";
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
    width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
    width: calc(100% + 8px);
    }

    section {
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
    }
}

@keyframes autoShowAnimation {
    from {
    opacity: 0;
    transform: translate(200px) scale(.3);
    }

    to {
    opacity: 1;
    transform: translate(0) scale(1);
    }
}

.secondpage {
    display: flex;
    height: 90vh;
    width: 100%;
}

.second {
    margin-left: 30vw;
}


.pic1 {
    display: flex;
    height: 19vh;
    width: 35vw;
    translate: -1vw -5vh;
    border: 2px solid rgb(180, 180, 180);
}

.gh {
    display: flex;
    height: 18vh;
    width: 37vw;
    border: 1px solid #64d190;
    translate: -1vw -5vh;
}

.attached {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5vh;
    height: 25vh;
    width: 55vw;
    translate: 36vw -24vh;
    
}

.bacc {
    margin-left: 5vw;
    text-decoration: underline;
}

.attached1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5vh;
    height: 20vh;
    width: 55vw;
    translate: 36vw -25vh;
}

.third {
    margin-left: 7vw;
    text-decoration: underline;
}

.reslink button{
    display: flex;
    translate: 25vw -25vh;
    width: 25vw;
    padding: 5px 10px;
    border: 1.5px solid rgb(0, 0, 0);
    background: rgb(157, 188, 241);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

.reslink a {
    color: white;
}


.resbut{
    display: none !important;
    translate: 0 -10vh;
}
}