* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: #45a46b;
}


@media (min-width: 1031px){
nav {
    width: 100%;
    height: 10vh;
    display: flex;
    position: fixed;
    background: #3b8d5c;
    z-index: 1000;
}

nav ul {
    margin-left: 15vw;
}

nav ul li {
    display: inline-block;
    line-height: 10vh;
    margin: 0 5px;
    vertical-align: middle;
}

nav ul li a {
    color: white;
    font-size: 1.5vw;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
    position: relative;
    transition: all .4s;
}

.aa:hover,
.aa:focus {
    color: #fff;

}

.aa::after {
    content: '';
    height: 3px;
    width: 0;
    background: wheat;
    position: absolute;
    left: 0px;
    bottom: -6px;
    opacity: 0;
    transition: width .3s;
    pointer-events: none;
}

.aa:hover::after,
.aa:focus::after {
    opacity: 1;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 2vw;
    line-height: 10vh;
    padding: 0 20px;
    font-weight: bolder;
    text-transform: uppercase;
    width: 35vw;
    vertical-align: middle;
}

.icons {
    width: 1.5vw;
    height: 3vh;
    vertical-align: middle;
}

.menu {
    display: none;   }

.threeDa{
    display: flex;
    width: 97vw;
    height: 85vh;
    translate: 1vw 11vh;
}
}



@media (max-width: 1030px) {
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: flex;
    line-height: 5.5vh;
    margin: 0 5px;
    translate: 2vw -2vh;
}

nav ul li a {
    color: white;
    font-size: 2vw;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
    position: relative;
    transition: all .4s;
}

.aa:hover,
.aa:focus {
    color: #fff;

}

.aa::after {
    content: '';
    height: 3px;
    width: 0;
    background: wheat;
    position: absolute;
    left: 0px;
    bottom: -6px;
    opacity: 0;
    transition: width .3s;
    pointer-events: none;
}

.aa:hover::after,
.aa:focus::after {
    opacity: 1;
    width: 100%;
}

label.logo {
    color: white;
    background: #29894f;
    font-size: 6vw;
    line-height: 10vh;
    padding: 0 20px;
    font-weight: bolder;
    text-transform: uppercase;
    width: 80vw;
    vertical-align: middle;
    display: flex;
    justify-content: middle;
    padding: 5px 10px;
    border-radius: 12px;
}

.icons {
    width: 2vw;
    height: 3vh;

}

.menu {
    display: flex;
    margin-left: 5vw;
    padding: 5px 10px;
    border: 1.5px solid rgb(176, 176, 176);
    background: rgb(244, 150, 244);
    color: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

.resbut::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(97, 192, 148);
    left: 0;
    top: 0;
    border-radius: 12px;
}

/* glow */
.menu::before {
    content: "";
    background: linear-gradient(45deg, white, rgb(125, 125, 234), rgb(224, 115, 115));
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* hover */
.menu:hover::before {
    opacity: 1;
}

.menu:active:after {
    background: transparent;
}

.menu:active {
    color: #000;
    font-weight: bold;
}

.popupwin {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-over {
    background-color: rgb(128, 128, 128);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    width: 20vw;
    height: 20vw;
    padding: 20px;
    animation: fadeIn 0.3s;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    translate: -34vw -15vh;
}

.threeDa {
    display: flex;
    width: 97vw;
    height: 85vh;
    translate: 1vw 11vh;
}   
}


@media (max-width: 435px) {
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: flex;
    line-height: 5.5vh;
    margin: 0 5px;
    translate: 2vw -2vh;
}

nav ul li a {
    color: white;
    font-size: 2vh;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
    position: relative;
    transition: all .4s;
}

.aa:hover,
.aa:focus {
    color: #fff;

}

.aa::after {
    content: '';
    height: 3px;
    width: 0;
    background: wheat;
    position: absolute;
    left: 0px;
    bottom: -6px;
    opacity: 0;
    transition: width .3s;
    pointer-events: none;
}

.aa:hover::after,
.aa:focus::after {
    opacity: 1;
    width: 100%;
}

label.logo {
    color: white;
    background: #29894f;
    font-size: 6vw;
    line-height: 7vh;
    padding: 0 20px;
    font-weight: bolder;
    text-transform: uppercase;
    width: 80vw;
    vertical-align: middle;
    display: flex;
    justify-content: middle;
    padding: 5px 10px;
    border-radius: 12px;
}

.icons {
    width: 4vw;
    height: 2vh;
    vertical-align: middle;
}

.menu {
    display: flex;
    margin-left: 5vw;
    padding: 5px 10px;
    border: 1.5px solid rgb(176, 176, 176);
    background: rgb(244, 150, 244);
    color: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

.resbut::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(97, 192, 148);
    left: 0;
    top: 0;
    border-radius: 12px;
}

/* glow */
.menu::before {
    content: "";
    background: linear-gradient(45deg, white, rgb(125, 125, 234), rgb(224, 115, 115));
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* hover */
.menu:hover::before {
    opacity: 1;
}

.menu:active:after {
    background: transparent;
}

.menu:active {
    color: #000;
    font-weight: bold;
}

.popupwin {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-over {
    background-color: rgb(128, 128, 128);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    width: 50vw;
    height: 35vh;
    padding: 20px;
    animation: fadeIn 0.3s;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    translate: -25vw -25vh;
}

.threeDa {
    display: flex;
    width: 100vw;
    height: 80vh;
    translate: 0vw 0vh;
    border: 2px solid red;
}
}

/*#jumpgame{
    width: 1000px;
    height: 400px;
    border: 2px solid rgb(255, 0, 0);
    background-color: #c7a925;
    margin-top: 30px;
}

#character{
    width: 40px;
    height: 70px;
    background-color: rgb(118, 27, 118);
    position: relative;
    top: 330px; 
}

.jump{
    animation: jump 0.3s linear;
}



@keyframes jump {
    0% {top: 330px;}
    30% {top: 230px;}
    70% {top: 230px;}
    100% {top: 330px;}
}

#block{
    width: 40px;
    height: 40px;
    background-color: red;
    position: relative;
    top: 290px;
    left: 960px;
    animation: block 2s infinite linear;
}

@keyframes block{
    0%{left: 960px;}
    100%{left: -40px;}
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000057;
    width: 100%;
    height: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-window {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    width: 80%;
    height: 80%;
    padding: 20px;
    animation: fadeIn 0.3s;
}

.popup-content{
    height: 100%;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    /*overflow: hidden;/
    transform: scale(1.5);
    border-radius: 15px;
    margin-top: 5%;
}

.playbut {
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}

.playbut::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #c7a925;
    left: 0;
    top: 0;
    border-radius: 12px;
}

/* glow /
.playbut::before {
    content: "";
    background: linear-gradient(45deg,
            #FF0000, #FF7300, #FFFB00, #48FF00,
            #00FFD5, #002BFF, #FF00C8, #FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* hover /
.playbut:hover::before {
    opacity: 1;
}

.playbut:active:after {
    background: transparent;
}

.playbut:active {
    color: #000;
    font-weight: bold;
}

.secondary-btn {
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}

.secondary-btn {
    background-color: #45a46b;
    border: none;
    padding: 3px 8px;
    top: 75%;
    left: 30%;
    position: absolute;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}*/